In [21]:
import pandas as pd
df = pd.read_excel('data/data.xlsx', 
                   header=None,
                   names=[f'feature{i}' for i in range(1,6)])

In [24]:
df.head()

   feature1  feature2  feature3  feature4  feature5
0  1.117915 -2.065559       NaN -1.362986 -0.709196
1 -0.503055 -2.892927  0.713895 -1.631237 -1.790220
2       NaN -0.077614  0.772394 -1.500325 -0.164499
3  1.163245  1.046673  1.674523 -1.867193 -0.534950
4  0.185329 -2.824514  2.036840 -2.040093       NaN